.hero-about {
    width: 100%;
    height: 300px;
    background: url("~/assets/svg/rectangle-3.svg") no-repeat center center;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero-about::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.6); /* ubah angka 0.6 sesuai kebutuhan */
    z-index: 1;
}

.hero-title {
    font-family: "Yesefa One", serif;
    color: #1F2B6C;
    font-size: 48px;
    position: relative;
    z-index: 2;
}