@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

img, svg {
    max-width: 100%;
    height: auto;
}

.paragraph-wrapper {
    max-width: 600px;   
    margin: 0 auto;     
}

.hero-text {
    text-align: center;
    line-height: 1.8;
}