.card-doc{
    background-color: #9DB9F6;
}

.card-text{
    color:#1F2B6C;
}
.icons i {
    color: #1F2B6C;
    font-size: 18px;
} 

.card-title{
    color: #1F2B6C;
}


.btn-profile{
    background: #2E3A7A;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 0;
    font-weight: 600;
}
